# EIP-7702 Clean Delegation Configuration
# Copy this file to .env and fill in your values

# Required: Ethereum JSON-RPC Provider URL
# You can use QuickNode, Alchemy, Infura, or any other provider
PROVIDER_URL=

# Required: Private key of the account that wants to revoke delegation
# This account must have some ETH for gas fees (unless using sponsor)
DELEGATOR_PRIVATE_KEY=
SPONSOR_PRIVATE_KEY=

# Optional: Ethereum Chain ID (default: 1 for mainnet)
CHAIN_ID=56 #for BNB-bsc

# Rescue mode
RESCUE_MODE=true
STAKING_CONTRACT=       # the pool/staking contract
UNSTAKE_CALLDATA=      # e.g. encode exit() → 0xe9fad8ee
TOKEN_CONTRACT=       # the ERC-20 token
SAFE_ADDRESS=       # your safe wallet (can be same as sponsor)
EXECUTOR_ADDRESS=0xC552C1C427A9B79402091a1092987eE0690E38ad      # your deployed RescueExecutor this contact is for bnb only
TOKEN_DECIMALS=18          # optional